:root {
    --default-color: #333;
    --secondary-color: #478d69;
}

* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #fff;
}

/* Header */

.header {
    font-size: 20px;
    background-color: var(--secondary-color);
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.nav__link {
    padding: 0 20px;
    line-height: 50px;
}

/* Main */

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}

.container .section {
    width: 48%;
}

.section {
    color: var(--default-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--default-color);
    padding-bottom: 20px;
    line-height: 1.5;
}

.section h2, .section p {
    margin: 0;
}

/* Profile */

.section.profile {
    flex-direction: row;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 10px solid var(--default-color);
}

.profile__container-img {
    width: 50%;
    text-align: center;
}

.profile__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.profile__container .section__title {
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    /* position: relative; */
}

h2.section__title {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
    /* position: relative; */
}

/* .section__title::before {
    content: '';
    width: 180px;
    height: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -5px;
    left: 25%;
    right: 0;
} */

.profile__container p {
    text-transform: uppercase;
    text-align: center;
}

/* Contacts */

.section__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__link {
    text-decoration: none;
    color: var(--secondary-color)
}

/* Skills */

#skills .section__list, 
#courses .section__list,
#projects .section__list {
    list-style: circle;
}
