:root {
    --default-color: #333;
    --secondary-color: #478d69;
}

* {
    box-sizing: border-box;
    outline: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #fff;
}

/* Header */

.header {
    font-size: 20px;
    background-color: var(--secondary-color);
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.nav__link {
    padding: 0 20px;
    line-height: 50px;
}